::-webkit-scrollbar {
  width: 0px;
}

/* remove ul */
ul {
  list-style-type: none !important;
  margin: 0 !important;
}

li {
  margin: 8px 0;
}

/* card buefy */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  height: 100%;
}

/* loading buefy */
.loading-background {
  background: rgba(0,0,0,0.0) !important;
}

/* homecoming section */
.homecoming {
  display: block;
  height: 100vh;
  background: url('./img/homecoming.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black-shadow {
  display: block;
  background: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
}

.homecoming-center {
  display: block;
  text-align: center;
  font-size: 3em;
  color: #d5d9de;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homecoming-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-fade-enter-active, .button-fade-leave-active {
  transition: opacity 5s;
}
.button-fade-enter, .button-fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition-duration: 1s;
}

/* header section */
.header-background {
  background: linear-gradient(180deg, rgba(195,20,50,1) 0%, rgba(36,11,54,1) 85%);
}

.transparent-background {
  background: rgba(0,0,0,0);
}

.color-white {
  color: #dddddd;
}

a.navbar-item:hover {
  background: rgba(0,0,0,0);
  color: #eeeeee;
}

.navbar-start {
  margin-left: 5em;
}

.profile-picture {
  display: block;
  margin: auto;
}

.profile-picture img {
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.force-left {
  display: block;
  color: #eeeeee;
  text-align: left;
  margin-top: 1em;
}

.force-right {
  display: block;
  color: #eeeeee;
  text-align: right;
  margin-top: 1em;
}

.force-left .profile-info {
  margin-left: 15px;
}

.force-right .profile-info {
  margin-right: 15px;
}

.force-right:nth-child(2), .force-left:nth-child(2){
  margin-top: 4em;
}

.profile-info {
  display: inline-block;
}

.profile-icon {
  position: relative;
  display: inline-block;
  background: #eeeeee;
  color: rgba(36,11,54,1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.icon-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-name {
  color: #eeeeee;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.profile-job {
  color: #a5a5a5;
  text-align: center;
}

/* homepage section */
.homepage-content {
  background: #f0f0f0;
}

.skill-item {
  display: inline;
  margin-right: 10px;
  vertical-align: middle;
}

.skill-rate {
  display: inline;
  vertical-align: middle;
}

.as-cursor {
  cursor: pointer;
}